.btn {
  margin: 5px;
  text-decoration: none;
  border: solid slategray 1px;
  border-radius: 3px;
  box-shadow: 10px 5px 5px lightslategray;
  text-align: center;
  width: 30%;
}

/* ------ Twitter Button ------ */
.btn-row #tweet-quote {
  /*order: 1;*/
  /*flex-grow: 1;
  flex-shrink: 0;*/
  flex-basis: auto;
}
